USE [MobileServicingDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/1/2026 12:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[EntryDate] [date] NOT NULL,
	[DeviceName] [nvarchar](50) NOT NULL,
	[Problem] [nvarchar](500) NULL,
	[DevicePicture] [nvarchar](max) NULL,
	[IsRegular] [bit] NULL,
	[Address] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceEntries]    Script Date: 4/1/2026 12:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceEntries](
	[ServiceEntryId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/1/2026 12:54:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [Phone], [EntryDate], [DeviceName], [Problem], [DevicePicture], [IsRegular], [Address]) VALUES (19, N'Munna Hossien', N'017535543345', CAST(N'2026-03-20' AS Date), N'Nokia Lumia', N'Motherbord', N'/Image/639095216387579631.jpg', 1, N'Jashore')
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [Phone], [EntryDate], [DeviceName], [Problem], [DevicePicture], [IsRegular], [Address]) VALUES (20, N'Jakir Sikdar', N'015457865443', CAST(N'2026-03-13' AS Date), N'Honor Magic 9', N'Display,Camera', N'/Image/639095218283276488.jpg', 0, N'Dhaka')
INSERT [dbo].[Customers] ([CustomerId], [CustomerName], [Phone], [EntryDate], [DeviceName], [Problem], [DevicePicture], [IsRegular], [Address]) VALUES (21, N'Raju Islam', N'0175454346', CAST(N'2026-03-19' AS Date), N'Xiomi 12x', N'Display,Camera,Backpart', N'/Image/639095220719267734.jpg', 0, N'Dhanmondi')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceEntries] ON 

INSERT [dbo].[ServiceEntries] ([ServiceEntryId], [CustomerId], [ServiceId]) VALUES (80, 19, 15)
INSERT [dbo].[ServiceEntries] ([ServiceEntryId], [CustomerId], [ServiceId]) VALUES (81, 19, 3)
INSERT [dbo].[ServiceEntries] ([ServiceEntryId], [CustomerId], [ServiceId]) VALUES (82, 19, 14)
SET IDENTITY_INSERT [dbo].[ServiceEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceName]) VALUES (1, N'Screen Repairs')
INSERT [dbo].[Services] ([ServiceId], [ServiceName]) VALUES (2, N'Battery Replacement')
INSERT [dbo].[Services] ([ServiceId], [ServiceName]) VALUES (3, N'Software Flash')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
ALTER TABLE [dbo].[ServiceEntries]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[ServiceEntries]  WITH CHECK ADD FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
